/***************************************************************/
/* General stuff */
/***************************************************************/
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix {
    clear: both;
}
/*.hide-overflow {
    position: relative;
    overflow: hidden;
}*/
.hidden {
    display: none;
}

.hide-reduced {
    display: none;
}

.spaced {
    line-height: 1.6em;
}

.no-pad {
    padding: 0;
}



/***************************************************************/
/* styles */
/***************************************************************/
.gray {
    color: #CECECE;
}

.green {
    color: #0fb493;
}

.red {
    color: #e85c41;
}

.dk-blue {
    color: #292F31;
}



/***************************************************************/
/* ANIMATIONS */
/***************************************************************/
.slow {
  -webkit-transition: all .45s ease-out;
     -moz-transition: all .45s ease-out;
      -ms-transition: all .45s ease-out;
       -o-transition: all .45s ease-out;
          transition: all .45s ease-out;
}

.med {
  -webkit-transition: all .33s ease-out;
     -moz-transition: all .33s ease-out;
      -ms-transition: all .33s ease-out;
       -o-transition: all .33s ease-out;
          transition: all .33s ease-out;
}

.fast {
  -webkit-transition: all .17s ease-out;
     -moz-transition: all .17s ease-out;
      -ms-transition: all .17s ease-out;
       -o-transition: all .17s ease-out;
          transition: all .17s ease-out;
}



/***************************************************************/
/* APP WIDE */
/***************************************************************/
html, body {
    height: 100%;
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'HelveticaNeue-Light', HelveticaNeue, helvetica, arial, sans-serif;
    /*font-family: 'Crimson Text', serif;*/
    /*font-family: 'garogierregular', serif;*/
    /*font-weight: 300;*/
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}
li {
    list-style-type: none;
    display: inline-block;
}
h1, h2, h3, h4, h5 {
    font-weight: 300;
}

h2 {
    font-size: 21px;
}

.container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

@font-face {
    font-family: 'garogierregular';
    src: url('../fonts/Garogier_unhinted-webfont.eot');
    src: url('../fonts/Garogier_unhinted-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Garogier_unhinted-webfont.woff') format('woff'),
         url('../fonts/Garogier_unhinted-webfont.ttf') format('truetype'),
         url('../fonts/Garogier_unhinted-webfont.svg#garogierregular') format('svg');
    font-weight: normal;
    font-style: normal;
}




/***************************************************************/
/* Nav Bar */
/***************************************************************/
body {
  /*background-color: green;*/
  background-color: rgb(218, 218, 218);
}

#site-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 123px;
    /*height: calc(100% / 5);*/
    line-height: 123px;
    /*line-height: calc(100% / 6);*/
    background-color: #292F31;
    color: #cecece;
    font-size: 13px;

    /*background-color: red;*/
}

.site-header-container {
  height: 123px;
  line-height: 123px;
  letter-spacing: 1.6px;
  background-color: #292F31;
  /*background-color: red;*/
}

.site-header-top {
  height: 72px;
  line-height: 72px;
  /*background-color: red;*/
}

.site-header-bottom {
  height: 51px;
  line-height: 51px;
  background-color: #424C52;
}

.site-header-container h1 {
  margin: 0 auto;
  font-size: 4em;
  font-weight: light;
}

.left-header-container {
  height: 100%;
  text-align: center;
  /*background-color: rgba(38, 38, 38, 1);*/
  /*background-color: rgba(0, 0, 0, 0.15);*/
}

.main-header-container {
  height: 100%;
  /*background-color: rgb(218, 218, 218);*/
  /*background-color: #292F31;*/
}

.main-header-container .nav {
  display: inline-block;
  height: 100%;
  /*padding: 0 33px;*/
  /*background-color: white;*/
}

.nav.nav-r {
  margin-left: 72px;
}

.nav.nav-l {
  margin-right: 72px;
}

.main-header-container .subnav {
  display: inline-block;
  height: 100%;
}

.subnav.subnav-l {
  margin-right: 72px;
}

.subnav.subnav-r {
  margin-left: 72px;
}



#site-body {
  /*background-color: rgb(218, 218, 218);*/
  /*background-color: rgba(38, 38, 38, 1);*/
  /*background-color: black;*/
  position: relative;
  top: 0px;
  width: 100%;
  overflow: hidden;
  height: calc(100% - 0px);
}

.main-content-container {
  position: relative;
  overflow: scroll;

  /*top: calc(100%);*/
  height: calc(100% - 123px);
  /*background-color: #292F31;*/
  /*background-color: rgba(0, 0, 0, 0.15);*/
  /*background-color: rgb(218, 218, 218);*/
}

.main-content {
  height: calc(100% - 123px);
  /*overflow: scroll;*/
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  position: relative;
}

.main-content-scroller {
  padding-top: 11px;
  height: calc(100%);
  overflow: scroll;
  /*background-color: red;*/
}

.left-nav-container {
  position: relative;
  /*top: calc( (100% / 5) * 1);*/
  height: calc(100% - 123px);
  /*background-color: #292F31;*/
  background-color: rgba(38, 38, 38, 1);
  background-color: rgba(0, 0, 0, 0.15);
}

.left-nav {
  position: relative;
  overflow: hidden;
  height: 100%;
/*  height: 100%;*/
  /*-ms-overflow-x: hidden;*/
  /*overflow-x: hidden;*/
  /*background-color: rgba(0, 0, 0, 0.15);*/
}

.left-nav-header {
  height: 78px;
  line-height: 78px;
  text-align: center;
  /*background-color: red;*/
}

.left-nav-level {
  height: 100%;
  position: absolute;
  width: 100%;
  -ms-overflow-y: auto;
  overflow-y: auto;
}

.level-one {
  /*background-color: red;*/
}

.level-two {
  left: 100%;
  /*background-color: yellow;*/
}

.left-nav .block {
  position: relative;
  height: 162px;
  z-index: 1000;
  margin: 11px 0;
  background-color: rgba(23, 23, 23, 1);
  padding: 22px 11px;
  /*border: 1px solid red;*/
}

.main-content .tile {
  position: relative;
  min-height: 162px;
  margin: 0 0 11px 0;
  z-index: 1000;
  background-color: rgba(206, 206, 206, 1);
  padding: 22px 11px;
  /*border: 1px solid red;*/
  color: rgb(21,21,21);
}
.main-content .tile.green {
    border-left: 8px solid #0fb493;
}
.main-content .tile.red {
    border-left: 8px solid #e85c41;
}

.block .inner {
  height: 100%;
  position: relative;
  /*background-color: rgba(23, 23, 23, 1);*/
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  /*font-family: 'Open Sans' sans-serif;*/
  color: rgb(218, 218, 218);
}

.tile .inner {
  height: 100%;
  position: relative;
  /*background-color: rgba(116, 116, 116, 0.85);*/
}

.tile-actions {
  height: 100%;
}

.inner .lead {
  /*font-family: 'Open Sans';*/
  font-size: 3em;
}

.lead.create-account {
  font-size: 24px;
  color: gray;
}

.icon-lg {
/*  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
  /*margin: 0 auto;*/
  position: relative;
  display: inline-block;
  height: 70px;
  width: 80px;
  margin-top: 22px;
  /*margin-bottom: 26px;*/
  border-radius: 0px;
  border: 2px solid rgb(218, 218, 218);
  /*background-color: rgba(63, 63, 63, 0.35);*/
}

.portfolio-graph {
  height: 100%;
  padding: 11px;
  width: 100%;
  text-align: right;
  background-color: rgba(177, 177, 177, 0.53);
}

.portfolio-graph .main {
  font-size: 44px;
}
.portfolio-graph .sub {
  font-size: 18px;
}




.secondary-container {
  position: relative;
  transform-style: preserve-3d;
  /*opacity: 0;*/
  height: 100%;
  /*background-color: red;*/
}

.secondary-page {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(218, 218, 218);
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  /*background-color: green;*/
}

.secondary-page-current,
.no-js .secondary-page {
    visibility: visible;
}

.no-js body {
    overflow: auto;
}

.secondary-page-ontop {
    z-index: 999;
}



.accounts-header {
  padding: 11px 11px 22px 11px;
  height: 78px;
}

.account-page {
  height: 100%;
  position: relative;
}

.account-left-info {

}

.account-info-header {
  padding-top: 22px;
}

.large {
  font-size: 30px;
}

.account-right-info {
  height: calc(100%);
  overflow: scroll;
}












.btn {
    /*background-color: #0fb493;*/
    color: rgba(243, 240, 235, 1);
    padding: 0px 11px;
/*    margin: 10px 5px;*/
    font-weight: 500;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
    border: none;
    /*border: 1px solid rgba(217, 217, 217, 1.0);*/
    border-radius: 2px;
    text-decoration: none;
    text-align: center;

    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: antialiased;
            font-smoothing: antialiased;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.btn-act-header {
  margin-left: 22px;
  font-size: 16px;
}


.input-group {
  position: relative;
  margin: 22px 0;
}

.fake-cursor {
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: red;
  margin: 8px 0 0 2px;
}

input {
  color: rgb(46, 59, 78);
    text-transform: none;
    /*max-width: 500px;*/
    /*border: 1px solid rgba(76, 76, 78, 0.3);*/
    border: 0 solid rgba(0,0,0,0);
    /*border-top: 0px dotted transparent;*/
    /*border-right: 0px dotted transparent;*/
    /*border-left: 0px dotted transparent;*/
    /*border-bottom: 1px solid rgba(76, 76, 78, 0.3);*/
    padding: 2px 7px;
    background-color: rgb(241, 241, 241);
    /*background-color: red;*/
    /*text-align: center;*/
    width: 100%;
    margin: 0px 0;
    font-weight: 300;
    font-size: 24px;

    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.1);

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;

    /*Custom apperance*/
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

            display: inline-block;

  border-radius: 2px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline-color: transparent;
    outline-style: none;
}
::-webkit-input-placeholder {
    color: rgba(76, 76, 78, 0.3);
}

:-moz-placeholder {
    color: rgba(76, 76, 78, 0.3);
}

::-moz-placeholder {
    color: rgba(76, 76, 78, 0.3);
}

input.new-wallet {
  font-size: 42px;
  /*background-color: transparent;*/
  /*padding-left: 0px;*/
}

input.new-wallet:focus {
  /*border-left: 5px solid #e85c41;*/
}





.new-wallet.title-field {
  /*height: 78px;*/
  /*line-height: 78px;*/
  font-size: 34px;
  /*padding: 11px 0 19px 0;*/
}
.new-wallet.generic-field {
  margin: 11px auto;
  background-color: white;
  font-size: 20px;
  padding: 4px 7px;
}
.pp-score {
  padding-top: 16px;
  font-size: 20px;
}


.small-q {
  font-size: 14px;
  color: gray;
  display: inline-block;
  padding: 3px;
  border-radius: 2px;
}
.pp-info {
  padding: 11px 0;
  font-size: 18px;
}